/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--page-font-family, Arial), sans-serif;
  font-variation-settings: 'wght' var(--page-font-wght, 400), 'slnt' 0;
  background-image: 
    repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px), 
    repeating-linear-gradient(90deg,#d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a 100%);
  background-attachment: fixed;
  background-size: cover;
  max-inline-size: min-content;
  margin-inline: auto;
}

.button {
  border: 2px solid var(--borders-color, black);
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  box-shadow: 0 0 var(--button-box-shadow-color, black);
  transition:  linear 0.2s;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.button::after {
  content: '';
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  top: 0;
  right: 0;
  background-color: var(--button-box-shadow-color, black);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: var(--content-bg-color, white);
  border: 2px solid var(--borders-color, black);
  margin-block: 100px;
  padding-block: var(--header-padding-block, black);
  text-transform: uppercase;
  inline-size: 100%;
}

.header__title {
  font-size: var(--header-title-font-size, 65px);
}

.header__text {
  font-size: var(--header-text-font-size, 35px);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  inline-size: var(--main-inline-size, 700px);
}

.main__contents {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content {
  border: 2px solid var(--borders-color, black);
  display: grid;
  background-color: var(--content-bg-color, white);
}

.content__title {
  margin-inline: 10px;
  margin-block: 7px 5px;
  font-size: 18px;
  line-height: 115%;
  font-family: var(--content-font-family, Arial), sans-serif;
  font-variation-settings: 'wght' var(--titles-font-wght, 700), 'slnt' 0;
}

.content-img-container {
  position: relative;
  border: 2px solid var(--borders-color, black);
}

.label {
  font-family: var(--page-font-family, Arial), sans-serif;
  font-size: 14px;
  position: absolute;
  top: 25px;
  right: var(--content-mark-position-right, 25px);
  text-shadow:
  -1px 0 var(--label-shadow-color, grey), 
  0 1px var(--label-shadow-color, grey), 
  1px 0 var(--label-shadow-color, grey), 
  0 -1px var(--label-shadow-color, grey);
}

.content-img {
  inline-size: 100%;
  object-fit: cover;
  object-position: right;
  aspect-ratio: 1 / 1;
}

.filter-brightness {
  filter: brightness(50%);
}

.filter-saturate {
  filter: saturate(150%);
}

.filter-contrast {
  filter: contrast(40%);
}

.filter-invert {
  filter: invert(100%);
}

.filter-sepia {
  filter: sepia(100%);
}

.filter-blur {
  filter: blur(8px);
}

.filter-blur-contrast {
  filter: blur(1px) grayscale(50%);
}

.content__texts {
  padding: 0;
  margin-inline: 25px;
  margin-block-start: 28px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  font-size: 18px;
  line-height: 21px;
  font-family: var(--content-font-family, Arial), sans-serif;
  font-variation-settings: 'wght' var(--page-font-wght, 400), 'slnt' 0;
}

.like-container {
  display: flex;
  justify-self: end;
  align-items: center;
  margin-block: 26px 23px;
  margin-inline-end: 23px;
  gap: 7px;
}

.card__icon-button {
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  outline: 2px solid transparent;
  transition: 0.3s ease;
}

.core,
.main-body,
.contour {
  will-change: fill, opacity;
}

.core {
  transition: linear opacity 0.3s 0.03s, linear fill 0.1s;
}

.main-body {
  transition: linear opacity 0.3s, linear fill 0.1s;
}

.contour {
  transition: linear fill 0.1s;
}

.button__text {
  display: flex;
  font-family: var(--page-font-family, Arial), sans-serif;
  font-size: 14px;
  line-height: 90%;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  color: var(--button-text-color, white);
  mix-blend-mode: difference;
}

.card__like-button {
  min-inline-size: 130px;
  min-block-size: 38px;
}

.button-like-text {
  box-shadow: 0 0 var(--button-box-shadow-color, black);
  transition:  linear 0.2s;
}

.button-save {
  background-color: var(--content-bg-color, white);
  padding-inline: 20px;
  padding-block: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-block-end: 103px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-inline: var(--button-save-margin-inline, 180px);
  inline-size: min-content;
  align-self: center;
}

.button-save-svg {
  inline-size: var(--button-save-svg-inline-size, 21px);
  aspect-ratio: 1 / 1;
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
  fill: rgb(255, 255, 255);
}

.button-save-text {
  white-space: nowrap;
  line-height: 90%;
}

.dialog-close[open] {
  display: grid;
}

.dialog-close {
  inline-size: 353px;
  padding-inline: var(--dialog-close-padding-inline, 30px);
  padding-block: 30px;
  align-items: center;
  grid-template-columns: min-content 1fr;
  row-gap: 30px;
  column-gap: 20px;
}

.dialog-close-svg {
  inline-size: 39px;
  aspect-ratio: 1 / 1;
}

.dialog-close-text {
  line-height: 150%;
  text-transform: uppercase;
  font-size: 14px;
}

.button-close {
  grid-column: 1/-1;
  justify-self: center;
  align-self: center;
  text-transform: uppercase;
  inline-size: 100%;
  padding-block: 12.5px;
  justify-content: center;
  align-items: center;
}

.dialog-close::backdrop {
  backdrop-filter: brightness(75%);
}

.button:focus {
  outline: none;
}

.card__icon-button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--button-box-shadow-color, black);
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--borders-color, black);
}

.button:hover::after {
  transform: translateX(0);
}

.card__icon-button:hover, 
.card__icon-button:focus-visible {
  .core {
    transition: linear opacity 0.3s, linear fill 0.3s 0.03s;
    opacity: 1;
  }

  .main-body {
    transition: linear opacity 0.3s 0.05s, linear fill 0.3s;
    opacity: 1;
  }
}

.card__icon-button:active {
  .core {
    transition: linear fill 0.3s;
    fill: var(--heart-color-is-liked, red);
    opacity: 1;
  }

  .main-body {
    transition: linear fill 0.3s 0.05s;
    fill: var(--heart-color-is-liked, red);
    opacity: 1;
  }
}

.card__icon-button .is-liked {
  .heart {
    animation: like-scale 0.3s 0.1s ease-in;
    transform-origin: center;
  }

  .sparks {
    animation: sparks-shine 0.3s 0.3s ease-in;
  }

  .core {
    transition: linear opacity 0.3s, linear fill 0.3s;
    fill: var(--heart-color-is-liked, red);
    opacity: 1;
  }

  .main-body {
    transition: linear opacity 0.3s 0.05s, linear fill 0.3s 0.05s;
    fill: var(--heart-color-is-liked, red);
    opacity: 1;
  }

  .contour {
    transition: linear fill 0.3s 0.06s;
    fill: var(--heart-color-is-liked, red);
  }
}

@supports((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .label {
    -webkit-text-stroke: 1px var(--label-shadow-color, grey);
    text-stroke: 1px var(--label-shadow-color, grey);
    text-shadow: none;
  }
}

@media (width >= 1200px) {
  .button-save {
    inline-size: max-content;
  }
}