/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    /* Текст */
    --page-font-family: 'PressStart2P';
    --content-font-family: 'Inter-Variable';
    --page-font-wght: 400;
    --titles-font-wght: 700;
    /* Цвета */
    --content-bg-color: rgb(255, 255, 255);
    --label-shadow-color: rgb(120, 120, 120);
    --button-text-color: rgb(255, 255, 255);
    --button-box-shadow-color: rgba(0, 0, 0, 1);
    --heart-color: rgba(0, 0, 0, 1);
    --heart-color-is-liked: rgb(255, 0, 0);
    --borders-color: rgba(0, 0, 0, 1);
    /* Размеры */
    --header-title-font-size: clamp(49px, 2.6764rem + 1.5842vw, 65px);
    --header-text-font-size: clamp(14px, 0.6578rem + 0.8911vw, 23px);
    --header-padding-block: clamp(120px, 7.3069rem + 0.7921vw,128px);
    --main-inline-size: clamp(375px, 14.2045rem + 39.3939vw, 700px);
    --content-mark-position-right: clamp(13px, 0.5229rem + 1.1881vw, 25px);
    --button-save-svg-inline-size: clamp(21px, 1.9606rem + -0.8642vw, 28px);
    --button-save-margin-inline: clamp(35px, -2.1759rem + 17.9012vw, 180px);
    --dialog-close-padding-inline: clamp(30px , 2.9861rem + -1.4815vw, 42px);
}